@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.select_divices {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    height: 850px;
    background-color: #9d9fa5;
    border-radius: 10px;
}

.title {
    position: absolute;
    font-weight: 600;
    margin-left: 40%;
    margin-top: 1%;
}

.localVideo {
    background-color: #403f3d;
    width: 100%;
    height: 80%;
    margin-top: 5%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  
  color: #444;
  background-color: #e2e2e2;
  
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

.select_audio {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 60%;
}

.select_audiooutput {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 25%;
}

.select_video {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 2%;
}

label {
    font-family: 'Y_Spotlight';
    font-size: 20px;
}

.loading_btn {
    position: absolute; 
    margin-left: 75%;
    border: none;
    margin-top: -40.3%;
}

.loading_text {
    font-weight: 900;
    font-size: 30px;
}