@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f5f5f5;
}

/* 미디어 쿼리 반응형 처리.
/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
}

 /* 스마트폰 가로 */
@media only screen and (min-width : 321px) {
    .s-class {
        font-family: 'ELAND_Nice_M';
        font-size: 25px;
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;
        margin-right: -650px;
    }
}

 /* 스마트폰 세로 */
@media only screen and (max-width : 320px) {
}

/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {
    .s-class {
        font-family: 'ELAND_Nice_M';
        font-size: 25px;
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;
        margin-right: -1450px;
    }
}

/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
    .s-class {
        font-family: 'ELAND_Nice_M';
        font-size: 25px;
        margin-left: 30px;
        margin-top: 10px;
        display: inline-block;
        margin-right: -2200px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black; 
    text-decoration: none;
}

a:hover {
    color: violet;
    text-decoration: none;
}
  
div {
    font-family: "IBMPlexSansKR-Regular";
}

.navigator {
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #d2d7dd;
}

.singup {
    text-align: center;
}

.singup_title {
    font-family: 'Y_Spotlight';
    font-size: 40px;
    margin-top: 200px;
    height: 100px;
}

.singed {
    font-size: 15px;
    margin-top: -780px;
}

.singup_description {
    font-size: 15px;
    margin-top: -50px;
    height: 30px;
}

.singup_account {
    color: black;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.login {
    margin-top: -780px;
    font-size: 14px;
}

.singup_content {
    margin-top: -780px;
    display: block;
}

.email {
    height: 50px; 
    width: 400px; 
    border: 1px solid gray; 
    border-radius: 5px;
    margin: 5px;
}

.pwd {
    height: 50px; 
    width: 400px; 
    border: 1px solid gray; 
    border-radius: 5px;
    margin: 10px;
}

.repwd {
    height: 50px; 
    width: 400px; 
    border: 1px solid gray; 
    border-radius: 5px;
}

.btn {
    text-align: center !important;
    font-family: 'Y_Spotlight';
    font-size: 20px;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 110, 255, 0.911);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.btn:hover {
    animation-name: btn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.singup_content:hover {
    animation-name: input-clicked;
}

.footer {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 607px;
}

@keyframes input-clicked {
    0% {
        border-bottom: 1px solid #d3d3d3;
    }
    100% {
        border-bottom: 1px solid #19ce60;
    }
}

@keyframes btn {
    0% {
    }
    30% {
      color: blue;
      background-color: #00ffdd;
    }
    100% {
        color: blue;
        background-color: #00ffdd;
    }
}